footer {
  display: flex;
  background: #0e1538;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin: auto;
  position: relative;
  top: 50px;
  border: 4px solid #00bcd4;
  border-radius: 10px;
}

.footer h1 {
  background: -webkit-linear-gradient(45deg, #00ccff, yellow, green, #d400d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

footer div {
  position: relative;
  margin-bottom: 5px;
}

footer address {
  text-align: center;
  position: relative;
  margin-top: -15px;
  color: white;
}
