<section class="h-100 gradient-form" style="background-color: #0e1538;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../assets/Images/cinema-screen.png" style="width: 185px;height: 100px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">ADD MOVIES</h4>
                </div>

                <form name="addmovies" #addform="ngForm" (ngSubmit)="add(addform.value,addform)">
                  <div class="form-outline mb-4">
                    <input name="id" ngModel type="number" class="form-control" required />
                    <label class="form-label">MOVIE ID</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input name="title" ngModel type="text" class="form-control" required />
                    <label class="form-label">MOVIE TITLE</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input name="img" ngModel type="text" class="form-control" required />
                    <label class="form-label">MOVIE IMG URL</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="desc" ngModel type="text" class="form-control" required />
                    <label class="form-label">MOVIE DESCRIPTION</label>
                  </div>
                  <input type="submit" class="btn btn-outline-success" value="ADD">
                  <div class="alert alert-danger" role="alert" *ngIf="isFormValid">
                    Please fill all fields.
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">WELCOME ADMIN</h4>
                <p class="small mb-0">Audience are demanding new latest movies. <br>Add new movies to get more audience
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
